@use '../global/mixins/media.scss';

.p-header-menu {
  // height: 0;
  // overflow: hidden;
  // opacity: 0;
  display: none;
  height: 100vh;
}

.p-header-menu__nav {
  width: 100%;
  padding: 1rem;
}
.p-header-menu__nav li {
  padding: .5rem;
  background: var(--main-color);
  border-bottom: 1px dotted var(--accent-color);
  width: 100%;
  text-align: center;
}

@include media.md {
  .p-header-menu {
    display: block;
    height: auto;
  }
  .p-header-menu__nav {
    padding: 0;
    height: auto;
    display: flex;
    width: 100%;
    opacity: 1;
  }
  .p-header-menu__nav li {
    border-bottom: none;
  }
}