.p-search {
  position: relative;
}

.p-search__input {
  padding: .5rem 1rem;
  border: 1px solid var(--accent-color);
  background: #fff;
  border-radius: 100vh;
}

.p-search__button {
  position: absolute;
  top: 50%;
  right: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
  background: var(--main-color);
  height: calc(100% - 2px);
  width: 50px;
  border-radius: 0 100vh 100vh 0;
}